KERNEL_ARCH_CFLAGS:= -mfpu=neon-vfpv4 -mfloat-abi=hard -march=armv7-a -mtune=cortex-a7
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:= -I$(CURDIR)/include

CFLAGS+= $(KERNEL_ARCH_CFLAGS)
CPPFLAGS+= $(KERNEL_ARCH_CPPFLAGS)
LDFLAGS+= $(KERNEL_ARCH_LDFLAGS)
LIBS+= $(KERNEL_ARCH_LIBS)


KERNEL_ARCH_SRC:= $(shell find $(CURDIR) -type f -iname '*.[cS]')
SRC+= $(KERNEL_ARCH_SRC)

KERNEL_OBJS+= $(foreach x, $(basename $(KERNEL_ARCH_SRC)), $(x).o)
