KERNEL_ARCH_CFLAGS:= -mfpu=neon-vfpv4 -mfloat-abi=hard -march=armv7-a -mtune=cortex-a7
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_COMPILED_FILES:= $(shell find $(CURDIR) -type f -iname '*.[cS]')

KERNEL_OBJS+= $(foreach x, $(basename $(KERNEL_ARCH_COMPILED_FILES)), $(x).o)
